{% extends 'editor/layout.html' %}
{% load static %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/theme/material-darker.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/theme/neat.css' %}">
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
{% comment %} <script src="{% static 'codemirror/mode/markdown/markdown.js' %}"></script> {% endcomment %}
<script src="{% static 'codemirror/addon/mode/simple.js' %}"></script>
<script src="{% static 'chord-md.js' %}" type="module"></script>
<script src="{% static 'editor.js' %}" type="module"></script>
{% include 'editor/item_card_template.html' %}
{% endblock %}

{% block panes %}
<div class="browse-pane d-md-flex flex-column border-end">
  <div class="navbar py-1 border-bottom row mx-0 gx-2 align-items-center">
    <div class="col">
    <div class="searchbar m-0 d-flex align-items-center">
      <i class="search-icon ps-1 fa-solid fa-magnifying-glass"></i>
      <input type="text" class="form-control border-0 rounded-0 ps-4 m-0 w-100 h-100" placeholder="Search">
    </div>
    </div>
    <div class="col-auto d-inline-block d-md-none"><a class="h5 my-0"><span class="my-0 fa-regular fa-pen-to-square"></span></a></div>
  </div>
  <div class="browse-items overflow-scroll">
    <ul class="list-group list-group-flush">
      <a href="#" class="item-card list-group-item list-group-item-action border-bottom px-4 p-2">
        <div class="row justify-content-between">
          <b class="title-line col text-truncate">Lorem ipsum</b>
          <i class="timestamp col-auto">just now</i>
        </div>
        <p class="second-line text-truncate">dolor sit amet, consectetur adipiscing elit</p>
      </a>
    </ul>
  </div>
</div>
<div class="editor-pane d-md-flex flex-column d-none flex-fill">
  <div class="toolbar border-bottom">
    <div class="row gx-0 align-items-center">
      <div class="col-auto d-inline-block d-md-none"><button class="back-btn btn btn-link link my-0 px-2"><span class="h4 my-0 fa-solid fa-angle-left"></span></button></div>
      <div class="col-auto"><button class="new-btn btn btn-link link my-0 px-2.11.5/dist/umd/popper.min.js"><span class="h4 my-0 fa-regular fa-pen-to-square"></span></button></div>
      <div class="col-auto"><button class="save-btn btn btn-link link my-0 px-2"><span class="h4 my-0 fa-solid fa-floppy-disk"></span></button></div>
      <div class="col-auto h5 my-0 ms-auto px-2">
        <button class="font-down-btn btn btn-link link my-0 px-0"><h5>-</h5></button>
        <span class="my-0 fa-solid fa-font"></span>
        <button class="font-up-btn btn btn-link link my-0 px-0"><h5>+</h5></button>
      </div>
      <div class="col-auto h5 my-0 px-2">
        <button class="transp-down-btn btn btn-link link my-0 px-0"><h5>-</h5></button>
        <span class="my-0 fa-solid fa-music"></span>
        <button class="transp-up-btn btn btn-link link my-0 px-0"><h5>+</h5></button>
      </div>
      <div class="col-auto ms-auto"><button class="share-btn btn btn-link link my-0 px-2"><span class="h4 my-0 fa-solid fa-arrow-up-from-bracket"></span></button></div>
      <div class="col-auto"><button class="del-btn btn btn-link link my-0 px-2"><span class="h4 my-0 fa-regular fa-trash-can"></span></button></div>
    </div>
  </div>
  <div class="editor p-0 overflow-auto">
    <textarea class="contents font-monospace" hidden></textarea>
  </div>
</div>
{% endblock %}