{% extends 'editor/layout.html' %}
{% load static %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/theme/material-darker.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/theme/neat.css' %}">
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'editor.js' %}" type="module"></script>
{% endblock %}

{% block panes %}
<div class="browse-pane d-md-flex d-none flex-column h-100">
  <div class="navbar py-1 border-bottom row mx-0 gx-2 align-items-center">
    <div class="col">
    <div class="searchbar m-0 d-flex align-items-center">
      <i class="search-icon ps-1 fa-solid fa-magnifying-glass"></i>
      <input type="text" class="form-control border-0 rounded-0 ps-4 m-0 w-100 h-100" placeholder="Search">
    </div>
    </div>
    <div class="col-auto d-inline-block d-md-none"><a class="h5 my-0"><span class="my-0 fa-regular fa-pen-to-square"></span></a></div>
  </div>
  <div class="browse-items overflow-scroll h-auto">
    <ul class="list-group list-group-flush">
      <a href="#" class="item-card list-group-item list-group-item-action border-bottom px-4 p-2">
        <div class="row justify-content-between">
          <b class="title-line col text-truncate">Lorem ipsum</b>
          <i class="timestamp col-auto">just now</i>
        </div>
        <p class="second-line text-truncate">dolor sit amet, consectetur adipiscing elit</p>
      </a>
    </ul>
  </div>
</div>
<div class="editor-pane flex-fill border-start">
  <div class="toolbar px-2 py-1 border-bottom">
    <div class="row p-0 mx-2 my-1 gx-3">
      <div class="col-auto d-inline-block d-md-none"><a class="h5 my-0"><span class="my-0 fa-regular fa-angle-left"></span></a></div>
      <div class="col-auto"><a class="h5 my-0"><span class="my-0 fa-regular fa-pen-to-square"></span></a></div>
      <div class="col-auto"><a class="h5 my-0"><span class="my-0 fa-solid fa-sliders"></span></a></div>
      <div class="col-auto h5 my-0 ms-auto">
        <a class="h5 text-decoration-none">-</a>
        <span class="my-0 fa-solid fa-font"></span>
        <a class="h5 text-decoration-none">+</a>
      </div>
      <div class="col-auto h5 my-0">
        <a class="h5 text-decoration-none">-</a>
        <span class="my-0 fa-solid fa-music"></span>
        <a class="h5 text-decoration-none">+</a>
      </div>
      <div class="col-auto ms-auto"><a class="h5 my-0"><span class="my-0 fa-regular fa-arrow-up-from-bracket"></span></a></div>
      <div class="col-auto"><a class="h5 my-0"><span class="my-0 fa-regular fa-trash-can"></span></a></div>
    </div>
  </div>
  <div class="editor p-0 h-100 overflow-auto">
    <textarea class="contents font-monospace" hidden></textarea>
  </div>
</div>
{% endblock %}