@media (prefers-color-scheme: dark) {
    :root {
        --bs-border-color: hsl(0, 0%, 30%);
        --bs-body-bg: hsl(0, 0%, 16%);
        --bs-body-color: hsl(0, 0%, 75%);
    }
    .list-group {
        --bs-list-group-active-border-color: hsl(216, 100%, 48%);
        --bs-list-group-active-bg: hsl(216, 50%, 48%);
        --bs-list-group-action-hover-bg: hsl(0, 0%, 24%);
        --bs-list-group-action-hover-color: hsl(0, 0%, 85%);
        --bs-list-group-action-active-bg: hsl(0, 0%, 25%);
        --bs-list-group-action-active-color: var(--bs-list-group-action-hover-color);
    }
    .form-control,
    .form-control:focus,
    .list-group-item {
        background-color: var(--bs-body-bg);
        color: var(--bs-body-color);
    }
}

.header,
.navbar,
.toolbar {
    min-height: 45px !important;
    height: 45px !important;
}

.search-icon {
    position: absolute;
    opacity: 40%;
}

.browse-pane {
    min-width: 320px;
    width: 320px;
}

.item-card {
    height: 75px;
}

.contents {
    white-space: pre-wrap;
    height: 100% !important;
}

.CodeMirror {
    height: 100% !important;
    font-size: 14pt;
    font-family: 'Aile', 'Monaco', monospace !important;
    padding-bottom: 80px;
}